@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  overflow: scroll;
}

.text-text-gray-on-white strong {
  @apply text-text-black-on-white font-normal;
}

.text-text-gray-on-black strong {
  @apply text-text-white-on-black font-normal;
}

.line-box {
  @apply border-t pt-4;
}

.text-style-2 {
  font-size: 120px;
  font-weight: medium;
}

.text-style-3 {
  font-family: var(--font-outfit);
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.5%;

  @media (max-width: 1536px) {
    font-size: 80px;
    line-height: 104.5%;
  }

  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 120%;
  }
}

.text-style-4 {
  font-family: var(--font-outfit);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 74.8px;

  @media (max-width: 1536px) {
    font-size: 50px;
    line-height: 56px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 120%;
  }
}

.text-style-5 {
  font-family: var(--font-outfit);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 59.8px;

  @media (max-width: 1536px) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.text-style-6 {
  font-family: var(--font-outfit);
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 130.5%;
  letter-spacing: 1px;

  @media (max-width: 1536px) {
    font-size: 30px;
    line-height: 125%;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 120%;
  }
}

.text-style-6-1 {
  font-family: var(--font-outfit);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%;
  letter-spacing: 1px;

  @media (max-width: 1536px) {
    font-size: 30px;
    line-height: 125%;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 130.5%;
  }
}

.text-style-7 {
  font-family: var(--font-outfit);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.5%;
  letter-spacing: 1px;

  @media (max-width: 1536px) {
    font-size: 25px;
    line-height: 125%;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 130%;
  }
}

.text-style-8 {
  font-family: var(--font-outfit);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%;
  letter-spacing: 1px;

  @media (max-width: 1536px) {
    font-size: 20px;
    line-height: 127.5%;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 120%; 
  }
}

.text-style-9 {
  font-family: var(--font-outfit);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.8px; /* 105.333% */

  @media (min-width: 1536px) {
    font-family: var(--font-outfit);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px; /* 105.333% */
  }

  @media (max-width: 768px) {
    font-family: var(--font-outfit);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 48px */
  }
}

.text-style-10 {
  font-family: var(--font-outfit);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%; /* 26.1px */
  letter-spacing: 1px;

  @media (max-width: 768px) {
    font-family: var(--font-outfit);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1px;
  }
}

.text-style-11 {
  font-family: var(--font-outfit);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.8px;

  @media (max-width: 1536px) {
    font-size: 70px;
    line-height: 70.8px;
  }

  @media (max-width: 768px) {
    font-size: 34px;
    line-height: normal;
  }
}

.text-style-12 {
  font-family: var(--font-outfit);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.5%;
  letter-spacing: 0.719px;

  @media (max-width: 1536px) {
    font-size: 23px;
    line-height: 122.5%;
  }

  @media (max-width: 768px) {
    font-size: 16.56px;
    line-height: 122.5%;
  }
}

.text-style-13 {
  text-align: center;
  font-family: var(--font-outfit);
  font-size: 311.818px;
  font-style: normal;
  font-weight: 500;
  line-height: 342.584px;

  @media (max-width: 1536px) {
    font-size: 211.818px;
    line-height: 342.584px;
  }

  @media (max-width: 768px) {
    font-size: 75px;
    line-height: normal;
  }
}

.text-style-14 {
  font-family: var(--font-outfit);
  font-size: 500px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.5%; /* 564.3px */
  letter-spacing: -31px;

  @media (min-width: 1536px) {
    font-family: var(--font-outfit);
    font-size: 540px;
    font-style: normal;
    font-weight: 400;
    line-height: 104.5%; /* 564.3px */
    letter-spacing: -31px;
  }

  @media (max-width: 768px) {
    font-family: var(--font-outfit);
    letter-spacing: 1px;
    font-size: 200px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.text-style-15 {
  font-family: var(--font-outfit);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.5%; /* 24.795px */
  letter-spacing: 1px;

  @media (min-width: 1536px) {
    font-family: var(--font-outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.5%; /* 24.795px */
    letter-spacing: 1px;
  }

  @media (max-width: 768px) {
    font-family: var(--font-outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.5%; /* 20.88px */
    letter-spacing: 1px;    
  }
}

.text-style-16 {
  font-family: var(--font-outfit);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;

  @media (min-width: 1536px) {
    font-family: var(--font-outfit);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
  }

  @media (max-width: 768px) {
    font-family: var(--font-outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.5%; /* 20.88px */
    letter-spacing: 1px;    
  }
}

.text-style-17 {
  font-family: var(--font-outfit);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


  @media (min-width: 768px) {
    font-family: var(--font-outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.5%; /* 20.88px */
  
  }
}

.text-style-18 {
  font-family: var(--font-outfit);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}


.text-style-19 {
  font-family: var(--font-outfit);
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.png__sequence {
  width: 100%;
  height: 500vh;
  position: relative;
}

.png__sequence__canvas {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 1;
}

.animate-updown {
  animation: updown 25s ease-in-out infinite;
}

.animate-downup {
  animation: downup 25s ease-in-out infinite;
}

.text-fx-box {
  position: relative;
  padding: 50vh 0 25vh;
}

.text-fx-item {
  padding-bottom: 30vh;
}

.animate-element {
  opacity: 0;
  transform: scale(0.1);
  filter: blur(30px);
}

.animate-enter {
  transition: all 0.5s ease-in-out; 
  opacity: 1;
  filter: blur(0px);
  transform: scale(1);
}

.animate-exit {
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: scale(3);
  filter: blur(30px);
}

.fade-in {
  animation: fadeInEffect 1s ease-in forwards;
}

@keyframes fadeInEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes updown {
  0% {
    transform: translateY(1vw);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(1vw);
  }
}

@keyframes downup {
  0% {
    transform: translateY(-2vw);
  }
  50% {
    transform: translateY(1vw);
  }
  100% {
    transform: translateY(-2vw);
  }
}